html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.link {
    margin: 30px 10px auto;
    border-bottom: 1px solid rebeccapurple;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.link:hover {
    color: #222;
    border-bottom: 1px solid;
    outline: none;
}

.link:active {
    color: #ac0000
}