html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.header {
    font-family: "Lato", sans-serif;
    font-size: 24px;
    font-weight: 900;
    max-width: 100%;
    text-align: center;
    margin:20px auto;
    padding: 20px;
    background-color: #f0f0f0;
}

.body {
    color: #222;
    background-color: #fffff0;
    max-width: 1000px;
    margin: 0% auto;
}

.bodyOptional {
    background-color: #000000;
}